<div class="container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h10 style="background-color: #3CB371">会員情報編集</h10>
                <%= form_with(model:@customer, url:customer_path ,method: :PATCH) do |f| %>
                    <div>
                        <div class="col-xs-12">
                          <%= f.label :"氏名", class: "col-sm-3 control-label", style: "margin: 10px;" %>
                          <%# logger.debug "aaaaaaaaaaaaaljnjkl" %>
                          <%# logger.debug @customer.inspect %>
                          <%= f.text_field :name, class: "name col-sm-3 form-control-static name", style: "margin: 10px;" %>
                        </div>
                        
                        <div class="col-xs-12">
                          <%= f.label :"メールアドレス", class: "col-sm-3 control-label", style: "margin: 10px;" %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static", style: "margin: 10px;" %>
                        </div>
                        
                        <div class="col-xs-12">
                          <%= f.label :"目標の体重", class: "col-sm-3 control-label", style: "margin: 10px;" %>
                          <%= f.text_field :goal_weight, class: "col-sm-2 form-control-static", style: "margin: 10px;" %>kg
                        </div>
                    </div>

                        <div class="actions col-xs-10 col-xs-offset-2">
                        <p>
                            <%= f.submit "編集内容を保存", class: "btn btn-primary col-sm-4", style: "margin: 10px;" %>
                                <%= link_to customers_unsubcribe_path, class: " btn btn-danger col-sm-3", style: "margin: 10px;" do %>
                                退会する
                                <% end %>
                <% end %>
                        </p>
                        </div>
        </div>
    </div>
</div>