<div class="container">
    <div class="row">
        <h10 style="background-color: #3CB371">食事新規登録</h10>
    </div>

        <div class="row">
            <% if flash[:meal_created_error] %>
                <span class="text-danger"><%= flash[:meal_created_error] %></span>
            <% end %>
        </div>

            <%= form_with model: @meal, url: meals_path do |f| %>
                <div class="col">
                    <div class="col">
                        <h10>料理名</h10>    
                    </div>
                        <div class="col">
                            <%#= f.label :料理名, class: "col-sm-2" %>
                            <%= f.text_field :dish_name, class: "form-control col-sm-3" %>
                        </div>
                            <div class="col">
                                <h10>メモ</h10>    
                            </div>
                                <div class="col">
                                    <%#= f.label :メモ, class: "col-sm-1", style: "padding-bottom 60px" %>
                                    <%= f.text_area :comment, size: "35x7" %>
                                </div>
                
                            <div class="col-sm-2 mt-auto">
                                <%= f.submit :新規登録, class: "btn btn-info btn-lg", style: "margin-top 10px" %>
                            </div>
            
                </div>
            
            <% end %>

</div>