<!DOCTYPE html>
<html>
    <head>
        <title>SELF MANAGEMENT(セルマネ)</title>
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>
            <script src="https://kit.fontawesome.com/f97bdf8bf2.js" crossorigin="anonymous"></script>
                <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

       <body>
          <div class="container">
              <div class="top">
                  <h1 class= "application-name">
                      SELF <span>MANAGEMENT</span>
                  </h1>
                
                  
                
              </div>

                    

          </div>
              <div class="navigation">
          
                  <header>
                    
    
                          <ul class="nav links">
            
                            <% if customer_signed_in? %>
                            
                              <li class="list active">
                              <%= link_to customers_my_page_path, class: "btn btn-success" do %>
                              <span class="title">マイページ</span>
                              <% end %>
                              </li>
                              
                              <li class="list active">
                              <%= link_to weights_path, class: "btn btn-success" do %>
                              <span class="title">体重管理</span>
                              <% end %>
                              </li>
                              
                              <li class="list active">
                              <%= link_to meals_path, class: "btn btn-success" do %>
                              <span class="title">食事管理</span>
                              <% end %>
                              </li>
                              
                              <li class="list active">
                              <%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-danger" do %>
                              <span class="title">ログアウト</span>
                              <% end %>
                              </li>
                              
                              <li class="font-family">
                              <%= current_customer.name %>さんでログイン中
                              </li>
        
                             <% else %>
              
                              <li>
                              <%= link_to about_path, class: "fas btn btn-light" do %>
                              セルマネについて
                              <% end %>
                              </li>
              
        
              
                              <li>
                                <%= link_to new_customer_registration_path, class: "fas btn btn-light" do %>
                                新規登録
                                <% end %>
                              </li>
              
                              <li>
                                <%= link_to new_customer_session_path, class: "fas btn btn-light" do %>
                                ログイン
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                      
                    
                  </header>
              </div>
              <main id="content">
                <%= yield %>
              </main>
        </body>
</html>
